{% extends "base.html" %}
{% block content %}
    <div class="container content-center justify-content w-50">
        <ul class="list-group">
            {% for category in categories %}
                <li class="list-group-item d-flex justify-content-between">
                    <a href="/courses/?category={{ category.name }}">{{ category.name }}</a>
                    <a href="/categories/delete/?name={{ category.name }}">
                        <button type="button" class="btn btn-danger">Delete</button>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <a href="/categories/create/">
            <button type="button" class="btn btn-secondary mt-5">Create category</button>
        </a>
    </div>

{% endblock content %}