{% extends "base.html" %}
{% block content %}
    <h1>Contacts Page</h1>
    <h3>Send message</h3>

    <form method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input required type="text" class="form-control" id="name" name='name' placeholder="Example name">
        </div>

        <div class="form-group mt-2">
            <label for="title">Title</label>
            <input required type="text" class="form-control" id="title" name='title' placeholder="Example Title">
        </div>

        <div class="form-group mt-2">
            <label for="Text">Text</label>
            <textarea required class="form-control" id="Text" name='text' rows="6"></textarea>
        </div>

        <div class="form-group mt-2">
            <label for="Category">Category</label>
            <select required class="form-select" size="3" multiple id="Category" name="categories">
                {% for category in categories %}
                    <option value="{{ category.name }}">{{ category.name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="Type">Type</label>
            <select required class="form-select" id="Type" name="type" aria-label="Type">
                <option selected>Select course type</option>
                <option value="online">Online</option>
                <option value="offline">Offline</option>
            </select>
        </div>

        <div class="form-group mt-2">
            <label for="Links">Additional links</label>
            <textarea class="form-control" id="Links" name='links' rows="2"></textarea>
        </div>

        <div class="form-group mt-2">
            <button type="submit" class="btn btn-primary mt-2 mb-2">Send</button>
        </div>
    </form>

{% endblock content %}